<%- model_class = @patient.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Managed Care?</strong></dt>
  <dd><%= @patient.is_mc? %></dd>
  <dt><strong><%= model_class.human_attribute_name(:firstname) %>:</strong></dt>
  <dd><%= @patient.firstname %></dd>
  <dt><strong><%= model_class.human_attribute_name(:lastname) %>:</strong></dt>
  <dd><%= @patient.lastname %></dd>
  <dt><strong><%= model_class.human_attribute_name(:gender) %>:</strong></dt>
  <dd><%= @patient.gender %></dd>
  <dt><strong><%= model_class.human_attribute_name(:birthdate) %>:</strong></dt>
  <dd><%= @patient.birthdate %></dd>
  <dt><strong><%= model_class.human_attribute_name(:street) %>:</strong></dt>
  <dd><%= @patient.street %></dd>
  <dt><strong><%= model_class.human_attribute_name(:city) %>:</strong></dt>
  <dd><%= @patient.city %></dd>
  <dt><strong><%= model_class.human_attribute_name(:plz) %>:</strong></dt>
  <dd><%= @patient.plz %></dd>
  <dt><strong><%= model_class.human_attribute_name(:insurance) %>:</strong></dt>
  <dd><%= @patient.insurance %></dd>
  <dt><strong><%= model_class.human_attribute_name(:insurantnumber) %>:</strong></dt>
  <dd><%= @patient.insurantnumber %></dd>
  <dt><strong><%= model_class.human_attribute_name(:mco) %>:</strong></dt>
  <dd><%= @patient.mco %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              patients_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_patient_path(@patient), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              patient_path(@patient),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
